<!DOCTYPE html>
<html>
<head>
    <title>Welcome to AI Course</title>
</head>
<body>
    <h2>Hello <%= studentName %>,</h2>
    <p>Subject: 🎉 Congratulations on Your Registration for the ARTIFICIAL INTELIGENCE  Course! 🎓
        Dear SHRAVAN,
        I hope this message finds you well!
        I am thrilled to congratulate you on your registration for the Medical Coding Course at Brainic! 🎊 Your commitment to furthering your education is commendable, and we are excited to have you on this journey with us.
        As you embark on this course, I also wanted to share information about our three-month internship program. I have attached a PDF that outlines the details of the program, which could provide you with valuable hands-on experience in the field. 📄✨
        Please take a moment to review the attached document. If you have any questions or need further information, feel free to reach out! 🤔💬
        Once again, congratulations on your registration! We look forward to supporting you throughout your learning experience. 🙌
        Best regards,
        Rohith B,
        PRM,
        Brainic,
        📞 8019865115.
        </p>
    <p>You will receive daily emails with study material.</p>
    <p>See you in class! 🚀</p>
</body>
</html>
